{{/* Bootstrap Lightbox carousel */}}
{{/* The arguments are: 
    "ride": carousel | false, to set or disable autoplay 
    "interval": number | fasle, to set the slider time or to disable. Must be a number if "ride" is set to "carousel"
    "fade": true | false, to enable or disable the fadeing of the images
*/}}

{{ $slider_num := .Get "slider_num" }}
{{ $slider_images := .Page.Resources.ByType "image" }}
{{/* interval=false will not autoplay the carousel */}}
{{ $interval := .Get "interval" }}
{{ $ride := .Get "ride" }}
{{ $fade := .Get "fade"}}

{{ with $slider_num }}
<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9 col-xl-8">
		{{ $images := $slider_images.Match (printf "slider-%s/*" $slider_num) }}
        <div id="{{ printf "LightboxCarousel-%s" $slider_num }}" class="carousel slide mb-5 {{ with $fade }} carousel-fade {{ end }}" data-bs-ride="{{ $ride }}" data-bs-interval="{{ $interval }}">
          <div class="carousel-indicators">
            {{ range $index, $value := $images }}
            <button type="button" data-bs-target="#{{ printf "LightboxCarousel-%s" $slider_num }}" data-bs-slide-to="{{ $index }}" {{ if eq
              $index 0 }}class="active" aria-current="true" {{ end }}aria-label="Slide {{ add $index 1}}"></button>
            {{ end }}
          </div>
          <div class="carousel-inner">
			        {{ range $index, $value := $images }}
              <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
  			        <a href="{{ $value.RelPermalink }}" data-lightbox="{{ $slider_num }}">
				          <img src="{{ $value.RelPermalink }}" class="d-block w-100" alt="Slide {{ add $index 1}}">
			          </a>

              {{ with $value.Exif  }} 
                <div class="carousel-caption">
                  {{ with .Tags.ImageDescription }} <p class="carousel-description">{{ . }}</p> {{ end }}
                </div>
              {{ end }}

			        </div>
            {{ end }}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#{{ printf "LightboxCarousel-%s" $slider_num }}"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#{{ printf "LightboxCarousel-%s" $slider_num }}"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {{ end }}